In [70]:
import numpy as np
import pandas as pd
import csv 
import sys

In [71]:
# Inputs
input_file_folder = "/Users/keltoumboukra/Desktop/Coding projects - Git/SamplePoolingForNGS/Files/"
input_file_name = "InputTrimTest.csv"

In [72]:
# Dataframes
input_df = pd.read_csv(input_file_folder + input_file_name)
input_df.rename(columns={input_df.columns[2]: "Concentration"},inplace=True)

input_df

  Well      Content  Concentration  Unnamed: 3
0  A01    Sample X1          1.948         NaN
1  O21  Sample X168         -0.743         NaN
2  A03   Sample X17          3.028         NaN
3  B06  Standard S1          0.083         NaN
4  B08  Standard S1          0.025         NaN
5  B10  Standard S1          0.022         NaN
6  O23  Sample X184         -0.849         NaN

In [73]:
input_df = input_df[input_df["Content"].str.contains("Standard") == False]
input_df = input_df.reset_index(drop=True)

input_df

  Well      Content  Concentration  Unnamed: 3
0  A01    Sample X1          1.948         NaN
1  O21  Sample X168         -0.743         NaN
2  A03   Sample X17          3.028         NaN
3  O23  Sample X184         -0.849         NaN

In [74]:
# Report output
output_files_folder = "/Users/keltoumboukra/Desktop/Coding projects - Git/SamplePoolingForNGS/Files/"
output_report_name = "Output_TrimTest_report.CSV"
output_report_df = pd.DataFrame(columns=['Sample Well ID','Sample Concentration','Comment'])

In [75]:
for row in input_df.itertuples():
    
    Index = row [0]
    Well = row[1]
    Concentration = row[3]
    
    if Concentration <= 0:
        output_report_df = output_report_df.append({'Sample Well ID': Well, 'Sample Concentration': Concentration, 'Comment': "Sample has negative value for concentration"}, ignore_index=True)
        input_df = input_df.drop(Index)


input_df = input_df.reset_index(drop=True)
output_report_df = output_report_df.reset_index(drop=True)

In [76]:
output_report_df

,Sample Well ID,Sample Concentration,Comment
0,O21,-0.743,Sample has negative value for concentration
1,O23,-0.849,Sample has negative value for concentration

In [77]:
input_df

  Well     Content  Concentration  Unnamed: 3
0  A01   Sample X1          1.948         NaN
1  A03  Sample X17          3.028         NaN