In [12]:
import numpy as np
import pandas as pd
import csv 
import sys

In [13]:
# Inputs
input_file_folder = "/Users/keltoumboukra/Desktop/Coding projects - Git/SamplePoolingForNGS/Files/"
input_file_name = "InputTrimTest.csv"

In [14]:
# Dataframes
df = pd.read_csv(input_file_folder + input_file_name)
df.rename(columns={df.columns[2]: "Concentration"},inplace=True)
df

  Well      Content  Concentration  Unnamed: 3
0  A01    Sample X1          1.948         NaN
1  A03   Sample X17          3.028         NaN
2  B06  Standard S1          0.083         NaN
3  B08  Standard S1          0.025         NaN
4  B10  Standard S1          0.022         NaN
5  O21  Sample X168         -0.743         NaN
6  O23  Sample X184         -0.849         NaN

In [15]:
df = df[df["Content"].str.contains("Standard") == False]
df

  Well      Content  Concentration  Unnamed: 3
0  A01    Sample X1          1.948         NaN
1  A03   Sample X17          3.028         NaN
5  O21  Sample X168         -0.743         NaN
6  O23  Sample X184         -0.849         NaN